<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commercial Website</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="flashes">
        <% if (flashMessages) {%>
            <% if (flashMessages.success) {%>
                <div class="flash-success">
                    <%= flashMessages.success %>
                </div>
            <% } else if (flashMessages.error){%>
                <div class="flash-success">
                    <%= flashMessages.error %>
                </div>
            <% } %>   
        <% } %> 
    </div>
    <div class="container">
        <%- body %> 
    </div>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>